@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
     margin: 0;
     padding: 0;
     font-family: 'Quicksand', sans-serif;
     box-sizing: border-box;
}

.blackScreen{
     position: absolute;
     width: 100vw;
     min-height: 100vh;
     background-color: rgba(0, 0, 0, 0.641);
     z-index: 10;
}

.generalSite{
     background-color: rgb(236, 231, 231);
     min-height: 100vh;
     width: 100vw;
}

.centerColumn{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.centerRow{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: nowrap;
}

.divPositionCenter{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     min-width: 300px;
}

.radiusMediun{
     border-radius: 6px !important;
}

.radiusLarge{
     border-radius: 10px !important;

}

a:hover{
     color: blue !important;
     cursor: pointer;
}

.coverSite{
     border-radius: 20px !important;
}

.siteImg img{
     max-width: 700px;
     width: 100%;
     border-radius: 18px !important;
}

.sitePhrase{
     max-width: 650px;
     width: 100%;
     border-radius: 10px;
     background-color: white;
}

.menuButtons{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     animation: menuButtons 0.8s linear !important;
}

.btn-close{
     position: relative;
     margin-left: 90%;
}

.imcInfo{
     position: relative;
     animation: imcInfo 0.8s linear !important;
     background-color: white !important;
     z-index: 20 !important;
}


 
.imcBox,
.iacBox,
.rcqBox{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.imcBox,
.alertRCQ{
     min-width: 290px !important;
     max-width: 450px !important;
}

#infoIMC{
     font-size: 0.8rem !important;
}

#imcInputResult,
#rcqInputResult,
#iacResult
{
     font-size: 2rem;
     height: 40px;
}





/*MEDIA QUERIES - RESPONSIVIDADE*/
@media screen and (min-width: 250px) and (max-width: 576px) {
     .menuButtons{
          min-width: 98%;
     }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
     .menuButtons{
          min-width: 40%;
          max-width: 60%;
     }
}

@media screen and (min-width: 769px) and (max-width: 960px) {
     .menuButtons{
          min-width: 30%;
          max-width: 50%;
     }
}

@media screen and (min-width: 961px) and (max-width: 1440px) {
     .menuButtons{
          min-width: 30%;
          max-width: 50%;
     }
}


